<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<script>
  //already logged in? 
  if (Cookies.get('login')) {
    $('.teacher').show()
    console.log('logged in already')
  }
  function logout() {
    Cookies.remove('login');
    $('.teacher').hide()
    console.log('logout')
  }

  function validatePass() {
    //set password 
    if (document.getElementById('password').value == 'test') {
      Cookies.set('login', true);
      $('.teacher').show()
    } else {
      alert('wrong password!!')
    }
  }
</script>