{{ partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fa fa-bars"></i> navigation</a>
</span>
{{.Content}}

{{ $currentNode := . }}
 <div class="highlightable">
    <ul class="topics">

        {{if eq .Site.Params.ordersectionsby "title"}}  
          {{range .Site.Home.Sections.ByTitle}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
          {{end}}
        {{else}}
          {{range .Site.Home.Sections.ByWeight}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode}}
          {{end}}
        {{end}} 
    </ul>
  </div>
{{ partial "footer.html" . }}
