

  <form class="form-inline">
    <p>
      Reveal teacher material

    </p>
    <div>
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" autocomplete="current-password">
    </div>
    <button type="button" class="btn btn-default " onclick="validatePass()">Sign in</button>
    <button type="button" class="btn btn-default " onclick="logout()">Logout</button>
  </form>
  <br>
  <i class="fa fa-home"></i>
  <a href="http://lsupathways.org">LSU Stem Certification Pathways </a>
