<p data-height="{{.Get 0}}" data-theme-id="33744" data-slug-hash="{{.Get 1}}" data-default-tab="js,result" data-user="lsuddem"
  data-embed-version="2" data-pen-title="Intro to Making Functions: Pt.1" data-editable="true" class="codepen">See the Pen
  <a href="https://codepen.io/lsuddem/pen/bKWOVz/">Example Code</a> by LSU DDEM (
  <a href="https://codepen.io/lsuddem">@lsuddem</a>) on
  <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
<span class="codepen-url">
  <a href="https://codepen.io/lsuddem/pen/{{.Get 1}}">https://codepen.io/lsuddem/pen/{{.Get 1}}</a>
</span>